exec_timeout_secs: 3600

# Mark a failure as a system/bootstrap failure (purple box) rather then a task
# failure by default.
# Actual testing tasks are marked with `type: test`
command_type: system

# Ensure that setup and teardown is working as expected.
pre_error_fails_task: true
pre_timeout_secs: 1800 # 5 minutes
post_error_fails_task: true
post_timeout_secs: 1800 # 5 minutes

functions:
  "setup":
    - command: git.get_project
      params:
        directory: src
    - command: subprocess.exec
      params:
        binary: bash
        working_dir: "src"
        add_expansions_to_env: true
        args:
          - ./.evergreen/setup.sh
    - command: expansions.update
      params:
        file: src/expansion.yml

  "bootstrap mongo-orchestration":
    - command: subprocess.exec
      params:
        binary: bash
        add_expansions_to_env: true
        args:
          - ${DRIVERS_TOOLS}/.evergreen/run-orchestration.sh
    - command: expansions.update
      params:
        file: mo-expansion.yml

  "run unit tests":
    - command: subprocess.exec
      type: test
      params:
        binary: bash
        working_dir: "src"
        include_expansions_in_env: ["DRIVERS_TOOLS", "MONGODB_URI"]
        args:
          - ./.evergreen/run-tests.sh

  "teardown":
    - command: subprocess.exec
      params:
        binary: bash
        args:
          - ${DRIVERS_TOOLS}/.evergreen/teardown.sh

pre:
  - func: setup
  - func: bootstrap mongo-orchestration

post:
  - func: teardown

tasks:
  - name: run-tests
    commands:
      - func: "run unit tests"

buildvariants:
  - name: tests-5-noauth-nossl
    display_name: Run Tests 6.0 NoAuth NoSSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "6.0"
      TOPOLOGY: server
      AUTH: "noauth"
      SSL: "nossl"
    tasks:
      - name: run-tests

  - name: tests-5-auth-ssl
    display_name: Run Tests 6.0 Auth SSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "6.0"
      TOPOLOGY: server
      AUTH: "auth"
      SSL: "ssl"
    tasks:
      - name: run-tests

  - name: tests-8-noauth-nossl
    display_name: Run Tests 8.0 NoAuth NoSSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "8.0"
      TOPOLOGY: server
      AUTH: "noauth"
      SSL: "nossl"
    tasks:
      - name: run-tests

  - name: tests-8-auth-ssl
    display_name: Run Tests 8.0 Auth SSL
    run_on: rhel87-small
    expansions:
      MONGODB_VERSION: "8.0"
      TOPOLOGY: server
      AUTH: "auth"
      SSL: "ssl"
    tasks:
      - name: run-tests
